*{
    margin: 0;
    }
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65vh;
    }
    form{
        background-color:lightgray;
        padding: 30px;
        border: outset 5px red;
        text-align: center;
        border-radius:20px 20px 20px 20px;
    }
    button{
        color: white;
        background-color: red;
        margin-top:10px; 
        border-radius:20px 20px 20px 20px;
        width:200px;
        padding:7px;
        width:250px;
        border:none;
    
    }
    img{
        width:100px;
    }
    h5{
        text-align:center;
    }
    h1{
        text-align:center;
        background-color:yellow;
        color:black;
        padding:10px;
    }
    .EE{
        border:2px outset lightgray;
        width:200px;
        padding:5px;
        border-radius:5px 5px 5px 5px;
    }
    html,body{
        background-color:yellow;
        height: 100%;
        width: 100%;
    }
    h2{
        color:red;
    }
    p{
        text-align:center;
        color:black;
        padding:2px;
    }
    button:hover{
        color:black;
        cursor: pointer;
    }
    #JJ{
        margin-left:15px;
    }
        
    